/*<------------------------------------------------User:Login Start------------------------------------------------>*/

#login {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

/*<------------------------------------------------User:Login End------------------------------------------------>*/

/*<------------------------------------------------User:Header Start------------------------------------------------>*/
#header {
  position: sticky;
  top: 0;
  z-index: 10;
  #upperHeader {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    @media (max-width: 768px) {
      width: 100%;
    }
    .fa-bars {
      font-size: 24px;
      @media (max-width: 768px) {
        display: flex;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
    .logoSpan {
      display: flex;
      height: inherit;
      align-items: center;
      cursor: pointer;
      .logo {
        height: inherit;
      }
      h1 {
        margin-left: 10px;
        font-weight: 500;
        font-size: 34px;
        margin-bottom: 2px;
      }
      @media (max-width: 550px) {
        /*  width: auto; */
        margin-right: 10px;
      }
    }
    .searchInput {
      border-color: #fff;
      color: #fff;
      height: 40px;
      border-radius: 6px;
      margin-left: auto;
      margin-right: 20px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    #outlined-adornment-weight {
      color: #fff;
      max-width: 120px;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: #fff;
    }
    .fa-magnifying-glass {
      color: #fff;
    }
    .searchInput::placeholder {
      color: #fff;
    }
    .profileDiv {
      display: flex;
      align-items: center;
      padding: 5px;
      height: 35px;
      border: 1px solid #fff;
      background-color: #ffffff26;
      border-radius: 26px;
      @media (max-width: 768px) {
        width: 60px;
        justify-content: space-between;
      }

      cursor: pointer;
      img {
        border-radius: 50%;
      }
      .userSpan {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
      .profileDivp1 {
        margin: 0 8px 0 10px;
        font-weight: 500;
        @media (max-width: 768px) {
          display: none;
        }
      }
      .fa-angle-down,
      .fa-angle-up {
        margin-top: 5px;
        margin-right: 2px;
      }
    }
    .menuDiv {
      display: flex;
      flex-direction: column;
      width: 250px;
      /* height: 100px; */
      background-color: #fff;
      border-radius: 6px;
      position: absolute;
      top: 70px;
      right: 20px;
      justify-content: space-around;
      padding: 10px;
      box-shadow: 0 1px 8px #2a356b66;
      .menuDiv1 {
        display: flex;
        align-items: center;
        .imgSpan {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--primary-color);
          border-radius: 50%;
          width: 60px;
          height: 60px;
          margin-right: 15px;
          .fa-user {
            font-size: 30px;
            color: var(--primary-color);
          }
        }
        .emailSpan {
          display: flex;
          flex-direction: column;
          /*         align-items: center; */
          justify-content: center;
          p {
            color: #00000084;
            margin: 0;
            margin-bottom: 5px;
            font-size: 12px;
          }
          a {
            color: #1a1b23;
            font-size: 14px;

            font-weight: 500;
          }
        }
      }
      .linkDiv {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 15px;
        height: 30px;
        border-radius: 6px;
        cursor: pointer;
        .linkIcon {
          color: rgb(0 0 0 / 35%);
          font-size: 16px;
          margin-left: 10px;
        }
        .linkIconFlip {
          transform: scaleX(-1);
        }
        p {
          margin: 0;
          color: rgb(0 0 0 / 70%);
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .linkDiv:hover {
        background-color: #00000017;
        .linkIcon {
          color: var(--primary-color);
        }
      }
    }
    .profileDiv:hover {
      background-color: #ffffff45;
    }
  }
}
.hr {
  width: 100%;
  height: 1px;
  background-color: #00000021;
}
/*<------------------------------------------------User:Header End------------------------------------------------>*/

/*<------------------------------------------------User:Sidebar Start------------------------------------------------>*/

#sideDrawer {
  display: block;
  margin-right: 30px;
  width: 180px;
  height: 600px;
  background-color: #fff;
  height: 90vh;
  padding: 10px;
  transition: all ease 5s;
  position: fixed;
  @media (max-width: 768px) {
    width: 100%;
  }
  .sideLinkDiv {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 15px;
    height: 40px;
    cursor: pointer;
    .sideIcon {
      color: rgba(0, 0, 0, 0.589);
      font-size: 20px;
      margin-left: 10px;
    }
    .sideLinkDivp {
      color: rgb(75 75 75 / 66%);
      margin-left: 15px;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .sideLinkDiv:hover {
    background-color: #d3d3d37b;
    .sideIcon {
      color: var(--primary-color);
    }
  }
  @media (max-width: 768px) {
    display: none;
    width: auto;
    transition: all ease 5s;
  }
}

/*<------------------------------------------------User:Sidebar End------------------------------------------------>*/

/*<------------------------------------------------User:Home End------------------------------------------------>*/
#home {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin-left: 14em;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
  .homeDiv1 {
    display: flex;
    background-color: #fff;
    padding: 0 15px 20px 15px;
    width: 95%;
    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      width: 93%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    .homeDiv1d1 {
      width: 65%;
      @media (max-width: 950px) {
        width: auto;
      }
      .numberDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        border-radius: 50%;
        min-width: 30px;
        height: 30px;
        h1 {
          color: #fff;
          font-size: 17px;
        }
      }
      h3 {
        color: var(--primary-color);
        margin: 0;
        margin-left: 20px;
        min-width: 166px;
      }
      .homeDiv1d1span1 {
        display: flex;
        align-items: center;
        margin-top: 20px;
      }
      .uploadDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 180px;
        border: 2px dashed var(--primary-color);
        margin-top: 12px;
        border-radius: 6px;

        .isActiveDiv {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            color: var(--primary-color);
            font-size: 14px;
            font-weight: 500;
            margin: 10px 0 10px 0;
          }
          button {
            background-color: transparent;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            border-radius: 5px;
            height: 40px;
            width: 120px;
            font-size: 16px;
            cursor: pointer;
          }
        }
        .fa-globe {
          color: var(--primary-color);
          font-size: 40px;
        }
      }
    }
    .homeDiv1d2 {
      width: 35%;
      margin-left: 20px;
      opacity: 0.5;
      @media (max-width: 950px) {
        margin-left: 0;
      }
      @media (max-width: 950px) {
        width: auto;
      }
      .homeDiv1d1span1 {
        display: flex;
        align-items: center;
        margin-top: 20px;
        .numberDiv {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--primary-color);
          border-radius: 50%;
          width: 30px;
          height: 30px;
          h1 {
            color: #fff;
            font-size: 17px;
          }
        }
        h3 {
          color: var(--primary-color);
          margin: 0;
          margin-left: 20px;
          font-size: 18px;
        }
      }
      .homeDiv1d3 {
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;
        box-shadow: rgba(65, 79, 119, 0.2) 0px 1px 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        .choiceDiv {
          display: flex;
          align-items: center;
          margin-left: 10px;
          margin-bottom: 17px;
          input {
            height: auto;
            margin: 0;
            width: 17px;
            height: 17px;
            margin-right: 10px;
            accent-color: red;
          }

          .imgSpan {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            border: 1px solid var(--secondary-color);
            margin-right: 10px;

            .fa-circle-play {
              color: var(--secondary-color);
              font-size: 30px;
            }
          }
          .paraSpan {
            display: flex;
            flex-direction: column;
            h1 {
              font-weight: 500;
              color: var(--primary-color);
              font-size: 16px;
            }
            p {
              color: var(--secondary-color);
            }
          }
        }
        button {
          height: 40px;
          border-radius: 4px;
          border: 0;
          background-color: var(--primary-color);
          color: #fff;
          font-size: 16px;
          width: 90%;
          align-self: center;
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }
    form {
      padding-right: 12px;
    }
    input,
    #country {
      outline: none;
      font-family: "Atyp";
      font-size: 16px;
      height: 40px;
      border-radius: 6px;
      padding-left: 10px;
      border: 1px solid #33333342;
      margin-top: 12px;
    }
    input::placeholder {
      font-family: "Atyp";

      color: #33333378;
      font-size: 16px;
      font-weight: 500;
    }
    .nameInput {
      width: 100%;
    }
    .inputSpan1 {
      display: flex;
      input,
      select {
        margin-right: 20px;
      }
    }
    .inputSpan2 {
      width: 102%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input,
      select {
        width: 50%;
      }
    }
  }
  .homeDiv2 {
    display: flex;
    margin-top: 15px;
    width: 98%;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      width: 100%;
      margin-left: 20px;
    }
    .homeDiv3 {
      width: 30%;
      display: flex;
      flex-direction: column;
      @media (max-width: 1135px) {
        width: 49%;
      }
      @media (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
      }
      h1 {
        font-size: 14px;
        color: var(--secondary-color);
      }
      .homeDiv4 {
        border-radius: 8px;
        margin-top: 15px;
        .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
          box-shadow: none !important;
          border-radius: 6px;
        }
        background-color: #fff;
        .accordDiv {
          display: flex;
          align-items: center;
          .fa-graduation-cap {
            margin-right: 10px;
            color: #06c15d;
            align-self: flex-start;
          }
        }
        .accordDivSpan {
          display: flex;
          flex-direction: column;
          margin-right: 15px;
          h1 {
            color: var(--secondary-color);
            margin-bottom: 10px;
          }
          p {
            color: var(--secondary-color);
            font-size: 12px;
            margin-left: 8px;
          }
          .progressDiv {
            display: flex;
            align-items: center;
          }
        }
        .checklistDiv {
          margin-bottom: 25px;
          display: flex;
          align-items: center;
          cursor: pointer;
          .fa-circle-check {
            font-size: 24px;
            color: #0000003f;
            margin-right: 10px;
          }
          .fa-circle-check-green {
            font-size: 24px;
            color: #06c15d;
            margin-right: 10px;
          }
          .fa-angle-right {
            margin-left: auto;
            color: #0000003f;
          }
          h1 {
            font-size: 14px;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}
.dotted-line {
  border-top: 5px dotted var(--secondary-color);
  width: 70%;
  margin-top: 5px;
  margin-left: 15px;
  @media (max-width: 950px) {
    display: none;
  }
}
/*<------------------------------------------------User:Home End------------------------------------------------>*/
